<html>
<head>
    <title></title>
	

</head>
<body>
    <h1>Your tasks:</h1>

	{% for a in list_of %}
		<li>{{ a }}</li>
	{% endfor %}
	

	<br>
	<br>
	<a href="{% url 'todo_with_sqlite:index' %}">Back to options</a>
    
</body>
</html>
