<html>
<head>
    <title></title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'todo_with_sqlite/data_entry.css' %}" />

</head>
<body>
	<div class="wrapper">
		<h2>Fill out these fields:</h2>
		<form action="/todo_with_sqlite/add_to_db/" method="post" class="add_data1">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="Submit" />
		<br>
		<br>
		<a href="{% url 'todo_with_sqlite:index' %}">Back to options</a>
    </div>
</form>
</body>
</html>
