<html>
<head>
    <title></title>
	
</head>
<body>
    <h1>Your tasks:</h1>	
		{% for a in list_of %}
		<li>{{ a }}</li>
		{% endfor %}
	<br>
	<h2>What task do you want to see?</h2>

	<form action="/todo_with_sqlite/see_one_task/" method="post" class="add_data">
    	{% csrf_token %}
    	{{ form }}
    	<input type="submit" value="Submit" />
	</form>		 
	

	<br>
	<br>
	<a href="{% url 'todo_with_sqlite:index' %}">Back to options</a>
    
</body>
</html>
